<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Coding Challenge Playground</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#1c1c1c] min-h-screen flex items-center justify-center">
  <div class="text-center">
    <h1 class="text-white font-semibold text-4xl leading-tight mb-6">Coding Challenge<br />Playground</h1>
    <p class="text-white text-2xl mb-4">Choose a Level to Start</p>
    <div class="flex flex-col items-center space-y-2">
      <button onclick="location.href='beginner.html'" class="bg-[#3ac54a] text-white text-xl rounded-sm px-6 py-1 w-50">Beginner</button>
      <button onclick="location.href='intermediate.html'" class="bg-[#ff9a0a] text-white text-xl rounded-sm px-6 py-1 w-50">Intermediate</button>
      <button onclick="location.href='advanced.html'" class="bg-[#ff4a4a] text-white text-xl rounded-sm px-6 py-1 w-50">Advanced</button>
    </div>
  </div>
  
</body>
</html>


